/* Components
------------------------------------------------------------*/

/* attention */
.c-attention {
  position: relative;
  width: 100%;

  a {
    display: block;
    text-align: center;
    background-color: #251806;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: -0.26px;
    padding: 20px 40px 20px;
  }

  &_close {
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    cursor: pointer;

    &:after {
      content: "";
      height: 30px;
      width: 30px;
      position: absolute;
      left: -9px;
      top: -8px;
    }
  }

  @include maxW(1023px) {
    a {
      font-size: 1.1rem;
      letter-spacing: -0.22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 14px 100px 14px;
    }

    &_close {
      right: 15px;
    }
  }
}

/* overlay */
.c-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  background: $black-cl;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: 1010;

  &.is-visible {
    opacity: 0.65;
    visibility: visible;
  }
}

/* copyright */
.c-copyright {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;

  p {
    font-size: 1.3rem;
    line-height: 1.66;
  }

  @include maxW(1023px) {
    p {
      font-size: 1.1rem;
    }
  }
}
