/* Components
------------------------------------------------------------*/

.layout_lr {
  display: grid;
  grid-template-columns: 34.32% 1fr;

  @include maxW(1023px) {
    display: block;
  }
}

/* attention */
.c-attention {
  position: relative;
  z-index: 1002;
  width: 100%;

  a {
    display: block;
    text-align: center;
    background-color: #251806;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.26px;
    padding: 20px 40px 20px;
  }

  &_close {
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    cursor: pointer;

    &:after {
      content: "";
      height: 30px;
      width: 30px;
      position: absolute;
      left: -9px;
      top: -8px;
    }
  }

  @include maxW(1023px) {
    a {
      font-size: 1.1rem;
      letter-spacing: -0.22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 14px 100px 14px;
    }

    &_close {
      right: 15px;
    }
  }
}

/* overlay */
.c-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  background: $black-cl;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: 1010;

  &.is-visible {
    opacity: 0.65;
    visibility: visible;
  }
}

/* copyright */
.c-copyright {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;

  p {
    font-size: 1.3rem;
    line-height: 1.66;
  }

  @include maxW(1023px) {
    p {
      font-size: 1.1rem;
    }
  }
}

/* image padding-bottom */
.c-img-pb {
  display: block;
  z-index: 1;
  position: relative;
  height: 100%;
  padding-bottom: var(--pad-bottom);
  background-color: #efece5;

  &-product {
    mix-blend-mode: multiply;
    aspect-ratio: 1/1;
    padding: 40px;

    @include maxW(1023px) {
      padding: 0 25px;
    }
  }

  p.viewall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    line-height: 1.64;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/* ------------------------------- button link ------------------------------ */

.c-btn-link {
  font-size: 1.6rem;
  line-height: 1.63;

  display: inline-block;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 2px;
    left: 0;
    backface-visibility: hidden;
    background-color: currentColor;
  }

  &:hover {
    &:after {
      animation: lineLink 0.5s;
    }
  }

  @include maxW(1023px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border: 1px solid $black-cl;
    font-size: 1.4rem;

    &:after {
      content: unset;
    }
  }
}

/* ------------------------------ category sub ------------------------------ */

.c-category-sub {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
  line-height: 1.67;

  p {
    opacity: 0.5;
  }

  span {
    width: 1px;
    height: 13px;
    background-color: $black-cl;
    opacity: 0.15;
  }

  @include maxW(1023px) {
    margin-top: 12px;
    gap: 15px;
    font-size: 1.3rem;
    line-height: 1.65;

    span {
      height: 11px;
    }
  }
}

/* ------------------------------ control page ------------------------------ */

.c-control {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;

  font-size: 1.6rem;

  &_pagination {
    display: flex;
    gap: 18px;

    a {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 2px;
        background-color: $black-cl;
        opacity: 0;
      }
    }

    a.active {
      &:after {
        opacity: 1;
      }
    }
  }

  @include maxW(1023px) {
    margin-top: 60px;
    justify-content: space-between;
    gap: 10px;

    font-size: 1.4rem;
    line-height: 1.68;
  }
}
