/* variables
------------------------------------------------------------*/

$main-fonts: "neue-haas-grotesk-text", "Hiragino Kaku Gothic Pro",
  "itc-benguiat", sans-serif;
$hira-fonts: "Hiragino Kaku Gothic Pro", "Hiragino Sans", sans-serif;
$itc-fonts: "itc-benguiat", serif;

//color common
$main-bg-cl: #f7f5f0;
$main-text-cl: #000;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #d3d3d3;

:root {
  --app-height: 100vh;
}
