/* ---------------------------------- card ---------------------------------- */

.c-card {
  &_group {
    position: relative;
    font-size: 1.5rem;
    line-height: 1.64;

    p.label {
      position: absolute;
      top: 15px;
      padding: 0 20px;
      z-index: 2;
    }
  }

  &_img {
    --pad-bottom: calc(427 / 320 * 100%);

    img {
      transition: opacity 0.3s ease-in;
    }

    &:hover {
      .img-front {
        opacity: 0;
      }

      .img-back {
        opacity: 1;
      }
    }

    .img-back {
      opacity: 0;
    }
  }

  &_info {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @include maxW(1023px) {
      margin-top: 14px;

      p {
        font-size: 1.4rem;
        line-height: 1.64;
      }
    }
  }

  &_tag {
    opacity: 0.5;
    width: fit-content;
    font-size: 1.5rem;
    line-height: 1;

    &:hover {
      opacity: 0.5;
    }

    @include maxW(1023px) {
      font-size: 1.4rem;
      line-height: 1.64;
    }
  }
}
