.c-form {
  margin-top: 60px;

  @include maxW(1023px) {
    margin-top: 40px;
  }

  &_control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 21px 0;
    position: relative;
    border-bottom: 1px solid #ccc;
    font-family: var(--hira-fonts);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    color: $black-cl;

    span.req {
      margin-left: 10px;
      color: #cc0000;
    }

    &:first-child {
      border-top: 1px solid #ccc;

      .c-form_control_input {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: -22px;
          width: 100%;
          height: 1px;
          background-color: $black-cl;
        }
      }
    }

    &_input {
      width: 100%;
      min-height: 40px;
      word-break: break-word;
      position: relative;
      grid-column: 2 / 4;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -22px;
        width: 100%;
        height: 1px;
        background-color: $black-cl;
      }

      &--group {
        display: flex;

        input {
          margin-left: 15px;

          &:first-child {
            margin-left: initial;
          }
        }
      }

      input,
      textarea {
        -webkit-appearance: none;
      }

      input,
      select,
      textarea {
        width: 100%;
        height: 40px;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        box-sizing: border-box;
        position: relative;
      }

      textarea {
        height: 150px;
      }

      select {
        width: calc(100% - 35px);
        border-radius: 5px;
        padding: 0 25px 0 10px;
        margin-left: -10px;
      }

      @include maxW(1023px) {
        select {
          width: 100%;
        }
      }

      textarea {
        height: 100px;
      }
    }

    &_btn {
      margin-top: 60px;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white-cl;
      background-color: $black-cl;
      font-size: 1.6rem;
      font-weight: 500;
    }

    @include maxW(1023px) {
      display: block;
      border-bottom: 1px solid $black-cl;
      font-size: 1.3rem;
      padding: 12px 0;

      &:first-child {
        border-top: 1px solid $black-cl;
      }

      &_input {
        min-height: 30px;

        input {
          height: 30px;
        }

        &:before,
        &:after {
          content: none !important;
        }
      }

      &_btn {
        margin-top: 45px;
        width: 100%;
        font-size: 1.4rem;
      }
    }
  }
}
